<div *ngIf="secret">

  <div class="Qualiter" *ngIf="secret.objectifImgLink !== '. . .'">
    <br> 
    <br>
    <br>
     <div class="row">
     <div class="col-lg-4">
         <div class="card mb-4">
           <div class="card-body text-center">
                <h5>Objectif</h5>
                <br>
                <img class="afficheFirst" [src]="secret.objectifImgLink" alt="image objectif">
            </div>
         </div>

        </div>
        
        <div class="col-lg-4">
         <div class="card mb-4">
            <div class="card-body text-center">
              <h5>Result</h5>
                <br>
              <img class="afficheSecond" [src]="secret.resultImgLink" alt="image result">
          </div>
        </div>
     </div>
     {{secret|json}}
    </div>
    </div>

   
    <div class="Qualiter" *ngIf="secret.objectifImgLink === '. . .'">
      <br> 
      <br>
      <br>
       <div class="row">
       <div class="col-lg-4">
           <div class="card mb-4">
             <div class="card-body text-center">
                
              <img class="afficheSecond" [src]="secret.resultImgLink" alt="image result">
              </div>
           </div>
  
          </div>
      {{secret|json}}

    </div>
  </div>