<div *ngIf="secret">

  <div class="Qualiter" *ngIf="secret.objectifImgLink !== '. . .'">
    <br> 
    <br>
    <br>
     <div class="row">
     <div class="col-lg-4">
         <div class="card mb-4">
           <div class="card-body text-center">
                <h5>Objectif</h5>
                <br>
                <img class="afficheFirst" [src]="secret.objectifImgLink" alt="image objectif">
            </div>
         </div>

        </div>
        <div class="col-lg-3">
          <div class="card mb-4">
            <div class="card-body text-center">
              <div class="row ">
                
                  <h5 class="mb-0 ">Name</h5>
          
              </div>
              <hr>
          
             
              <div class="row">
          
                  <p class="mb-0">{{secret.title}}</p>

               </div>
              <hr>
              <div class="row">
                
                  <h5 class="mb-0">Nickname</h5>
              
                
              </div>
              <hr>
              <div class="row">
            
                  <p class="mb-0">{{secret.nickname}}</p>
             
                
              </div>
              <hr>
              <div class="row">
                
                <h5 class="mb-0">Was </h5>
            
              
            </div>
            <hr>
            <div class="row">
          
                <p class="mb-0">{{secret.nameOfSubject}}</p>
           
              
            </div>
            </div>
        </div>
        </div>
        
        <div class="col-lg-4">
         <div class="card mb-4">
            <div class="card-body text-center">
              <h5>Result</h5>
                <br>
              <img class="afficheSecond" [src]="secret.resultImgLink" alt="image result">
          </div>
        </div>
     </div> 

    <div class="col-lg-12">
    <br>  <div class="card mb-4">
        <div class="card-body  text-center">
          <div class="row">
            
              <h5 class="mb-0">Damages caused</h5>
            
          </div>

          <hr>

          <div class="row">
            
              <p class="mb-0">{{secret.killCount}}</p>
            
          </div>
          <hr>
          <div class="row">
           
              <h5 class="mb-0">Log</h5>
      
          </div>
          <hr>
          <div class="row">
            
              <p class="mb-0">{{secret.log}}</p>
           
          </div>
          
        </div>
      </div>

    </div>
    </div>

   </div>
    <div class="Qualiter" *ngIf="secret.objectifImgLink === '. . .'">
      <br> 
      <br>
      <br>
       <div class="row">
       <div class="col-lg-4">
           <div class="card mb-4">
             <div class="card-body text-center">
                
              <img class="afficheSecond" [src]="secret.resultImgLink" alt="image result">
              </div>
           </div>
  
          </div>
      {{secret|json}}

    </div>
  </div>