<div *ngIf="secret">
    <br> 
    <br>
    <br>
     <div class="row">
     <div class="col-lg-4">
         <div class="card mb-4">
           <div class="card-body text-center">
                <img class="affiche" [src]="secret.objectifImgLink" alt="image objectif">
            </div>
         </div>

        </div>
        
        <div class="col-lg-4">
         <div class="card mb-4">
            <div class="card-body text-center">
              <img class="affiche" [src]="secret.resultImgLink" alt="image result">
          </div>
        </div>
     </div>
</div>
{{secret|json}}