<br>

<br><div class="text-center">
    <a [routerLink]="['/newMovie']" class="btn btn-dark">Add a new movie</a>
</div>



<br><ul class="list-group">
    <app-movie *ngFor="let movie of movies; let i = index" 
    [movieTitle]="movie.title" 
    [movieReleaseDate]="movie.releaseDate"
    [movieProductor]="movie.productor" 
    [movieRealisator]="movie.realisator" 
    [movieSynopsis]="movie.synopsis" 
    [movieNature]="movie.nature" 
    [movieMusic]="movie.musicComposeur" 
    [movieVideoLink]="movie.link"
    [movieAfficheLink]="movie.affiche" 
    [id]="movie.id"></app-movie>
</ul>

<br>
<div class="text-center">
    <button class="btn btn-dark" (click)="changeMovieNatureAll()">Set all movies to Original</button>
    &nbsp; <button class="btn btn-dark" (click)="unChangeMovieNatureAll()">Set all movies to Reproduction</button><br>
</div>
<br>