.back{
    background-color: black;
    color: white;
}

.headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.navbar-right {
    color:white !important;
}

.navbar-right-secondary {
    color:gray !important;
}

