.headerbackground{
    background-color: black;
    color: white;
}

.containerStyle {
    background-image: url(https://static.tumblr.com/cf924c12c6b0fe47a2156c2805bd5516/oefelpi/BZgplgooy/tumblr_static_tumblr_static_bmrcygyaqxkcwgw8ccscgg08g_focused_v3.png);
    background-size: cover;
    color: white;
}

.headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.navbar-right {
    color:white !important;
}

.navbar-right-secondary {
    color:gray !important;
}

