<body>
<img src="https://64.media.tumblr.com/ab2f2034d7d753c56ddcd77cd722f859/571cf53cbc4e9b5e-fe/s640x960/7f407511e6d79701a2503fabb48eead384aa19e8.gif" alt="this slowpoke moves"  width="250" />

<h1> Under Construction </h1>
<h2> Test </h2>

<ul class="list-group">
    <app-movie *ngFor="let movie of movies" [movieTitle]="movie.title" [movieReleaseDate]="movie.releaseDate"
    [movieProductor]="movie.productor" [movieRealisator]="movie.realisator" [movieSynopsis]="movie.synopsis" 
    [movieNature]="movie.nature" [movieMusic]="movie.musicComposeur" [movieVideoLink]="movie.link"
    [movieAfficheLink]="movie.affiche"></app-movie>
</ul>

<ul class="list-group">
    <app-vinyl *ngFor="let vinyl of vinyls" [vinylTitle]="vinyl.title" [vinylReleaseDate]="vinyl.releaseDate"
    [vinylProductor]="vinyl.productor" [vinylMovieUsed]="vinyl.movieUsing" [vinylVideoLink]="vinyl.link"
    [vinylTour]="vinyl.tour"></app-vinyl>
</ul>
<button class="btn btn-outline-success" (click)="changeMovieNatureAll()">Tout les movie son Originaux</button>
<button class="btn btn-outline-danger" (click)="unChangeMovieNatureAll()">Tout les movie son des Reproduction</button>
<button class="btn btn-outline-success" (click)="changeVinylTourAll()">Tout les vinyl son des 33 tours</button>
<button class="btn btn-outline-danger" (click)=" unChangeVinylTourAll()">Tout les vinyl son des 78 tours</button>
</body>