<div class="headerbackground">

<img src="https://64.media.tumblr.com/ab2f2034d7d753c56ddcd77cd722f859/571cf53cbc4e9b5e-fe/s640x960/7f407511e6d79701a2503fabb48eead384aa19e8.gif" alt="this slowpoke moves" class="headerImg"  width="250" />


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">
        <img src="https://images.squarespace-cdn.com/content/v1/63063c7b32acea0da5d3ca03/19cec161-4b76-4e6d-87dd-fc3d21843307/Joey+Drew+Studios.png?format=1500w" width="40" height="40"  alt="">
      Joey Drew Studios
      </a>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="movie" class="nav-link">Movie</a>
        </li>
        <li class="nav-items" routerLinkActive="active">
          <a routerLink="vinyl" class="nav-link">Vinyl</a>
        </li>
      </ul>
    </div>

    <div class="navbar-right">
       Welcome Admin! &nbsp;

    </div>

    <div class="navbar-right-secondary">
        
        <a routerLink="user" class="nav-link">&nbsp;Check your account info&nbsp;</a>
 
     </div>
    
  </nav>
</div>

<div class="containerStyle">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

