<li class="list-group-item">
    <div class="row">

        <div class="col-2">
            <img class="affiche" [src]="movieAfficheLink" alt="image movie">
        </div>

        <div class="col-8">
            <div class="Qualiter" *ngIf="movieNature == false">
                

                <h3> Movie Title : {{movieTitle}} --- Quality : Reproduction</h3>

            </div>

            <div class="Qualiter" *ngIf="movieNature == true">
                

                <h3> Movie Title : {{movieTitle}} --- Quality : Original</h3>

            </div>

            <br>

           <!-- <button class="btn btn-dark" (click)="onSwitchMovie()">Switch</button>-->

            &nbsp; <a [routerLink]="['/learnMoreMovie', id]" class="btn btn-dark">Learn More</a>

            &nbsp; <a [routerLink]="['/modifMovie', id]" class="btn btn-dark">Edit</a>

            &nbsp; <a [routerLink]="" class="btn btn-dark" (click)="suppr()">Delete</a>
            
        </div>
    </div>
</li>